.show_all_order {
  width: 114px;
  height: 50px;
  border: none;
  background-color: lightblue;
  margin: 0px 3px;
  cursor: pointer;
  font-weight: bolder;
}

.show_all_order:hover {
  background-color: rgb(199, 244, 229);
  color: black;
}