.show_all_order {
  width: 114px;
  height: 50px;
  border: none;
  background-color: lightblue;
  margin: 0px 3px;
  cursor: pointer;
  font-weight: bolder;
}

.show_all_order:hover {
  background-color: rgb(199, 244, 229);
  color: black;
}

select {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 10px rgba(102, 175, 233, 0.6);
}


#logoutButton {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button#logoutButton {
  padding-left: 10px;
}

/* Hover effect */
#logoutButton:hover {
  background-color: #d32f2f;
}

#content>div:not(:first-child) {
  display: none;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: larger;
  background-color: #dddddd;
}

th,
td {
  text-align: center;
  padding: 12px 15px;
  background-color: white;
}

thead tr,
th {
  background-color: #009879;
  color: #ffffff;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
